      <h1> <center>Prashant Ghori's Blog</center> </h1>
<div class="row">        
        <section class="main col-md-12">
      <table>
        <h2> Hey folks...<br> I am Prashant Dilip Ghori </h2> <br>
        <tr>
          <td>
              
            <p>
                I'm Studying Web Development with Mr. Harry Scanlan. I am in CPP<br>
                (Computer Programming). I'm good about cooking and dancing , <br>
                and a huge collector of unique products. My speciality is to turn<br> 
                your dream project into reality. I am having skills to build Websites<br> 
                for small to medium size businesses as well as huge business <br>
                corporaters. I enjoy working with complex user interfaces. A solution<br> 
                focused on simplicity but delivering the usefull unexpected code. <br>
                That's what I believe in.<br>
            </p>

          </td>
        </tr>
      </table>
        </section>
</div>