<div class="row">
 <div class="col-md-12">
 <h2>Categories</h2> <a href="/categories/add" class="btn btn-success pull-right">Add Category</a>
 <hr />
 <div class="table-responsive">
            <table class="table">
                <thead>                    
                    <th>Category ID</th>
                    <th>Category Name</th>                
                </thead>
                <tbody>
                {{#each data}}
                <tr>                    
                    <td>{{id}}</td>
                    <td>{{category}}</a></td>
                    {{!-- <td> <button> <a href="categories/delete/{{id}}">Delete a Category</a> </button> </td> --}}
                </tr>
                {{/each}}
                </tbody>
            </table>
         </div>
    </div>
    {{#unless data}}
        <div class="col-md-12 text-center">
            <strong>{{message}}</strong>
        </div>
    {{/unless}}
</div> 