*{
    font-family: 'Montserrat', sans-serif;
  }
  
  table{
    width: 1200px;
    margin: auto;
    background: none;
  }
  
  td{
    padding: 50px 50px;
    font-size: larger;
  }

  .row{
    margin-top: 18px;
  }

  button {
    font: black;
  }

  .navbar-brand{
    font-size: larger;
  }